fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
joblib
huggingface_hub
pandas
pymongo[srv]
transformers
torch
torchvision
timm
numpy
opencv-python-headless
PyMuPDF
pytesseract
Pillow
reportlab
scikit-learn==1.6.1
